<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="bw-runtime">
<locations>

<location path="/C:/tibco/bw6/bw/6.9/config/drivers/shells/jdbc.oracle.runtime//hotfix/runtime/plugins" type="Directory"/>
<location path="/C:/tibco/bw6/bw/6.9/config/drivers/shells/jdbc.oracle.runtime//runtime/plugins" type="Directory"/>
<location path="/C:/tibco/bw6/bw/palettes/amqp/6.5//hotfix/runtime/plugins" type="Directory"/>
<location path="/C:/tibco/bw6/bw/palettes/amqp/6.5//runtime/plugins" type="Directory"/>
<location path="/C:/tibco/bw6/bw/palettes/kafka/6.7//hotfix/runtime/plugins" type="Directory"/>
<location path="/C:/tibco/bw6/bw/palettes/kafka/6.7//runtime/plugins" type="Directory"/>
<location path="/C:/tibco/bw6/bw/palettes/sap/8.6//hotfix/runtime/plugins" type="Directory"/>
<location path="/C:/tibco/bw6/bw/palettes/sap/8.6//runtime/plugins" type="Directory"/>
<location path="/C:/tibco/bw6/bw/palettes/sp/6.1//hotfix/runtime/plugins" type="Directory"/>
<location path="/C:/tibco/bw6/bw/palettes/sp/6.1//runtime/plugins" type="Directory"/>


<location path="C:/tibco/bw6/bw/6.9/system/hotfix/lib/common" type="Directory"/>
<location path="C:/tibco/bw6/bw/6.9/system/lib/common" type="Directory"/>

<location path="C:/tibco/bw6/bw/6.9/system/hotfix/palettes" type="Directory"/>
<location path="C:/tibco/bw6/bw/6.9/system/palettes" type="Directory"/>

<location path="C:/tibco/bw6/bw/6.9/system/hotfix/shared" type="Directory"/>
<location path="C:/tibco/bw6/bw/6.9/system/shared" type="Profile"/>
</locations>
</target>
