{
  "pid": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/jms}JNDIConnection.2c1f2a35-5369-42e7-b53d-68a185da8236",
  "properties": {
    ".name": {
      "name": ".name",
      "value": "activemqsample.JNDIConfiguration",
      "type": "java.lang.String"
    },
    ".deployment.name": {
      "name": ".deployment.name",
      "value": "ActivemqSample.application",
      "type": "java.lang.String"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    ".isresource": {
      "name": ".isresource",
      "value": "true",
      "type": "java.lang.String"
    },
    ".public": {
      "name": ".public",
      "value": false,
      "type": "java.lang.Boolean"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/jms}JNDIConnection",
      "type": "java.lang.String"
    },
    ".type.initialContextFactory": {
      "name": ".type.initialContextFactory",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    "providerUrl": {
      "name": "providerUrl",
      "value": "tcp:\/\/192.168.10.69:61617",
      "type": "java.lang.String"
    },
    "initialContextFactory": {
      "name": "initialContextFactory",
      "value": "org.apache.activemq.artemis.jndi.ActiveMQInitialContextFactory",
      "type": "java.lang.String"
    },
    ".deployment.version": {
      "name": ".deployment.version",
      "value": "1.0",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/jms}JNDIConnection.2c1f2a35-5369-42e7-b53d-68a185da8236",
      "type": "java.lang.String"
    },
    ".type.providerUrl": {
      "name": ".type.providerUrl",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".ns2locMap": {
      "name": ".ns2locMap",
      "value": {},
      "type": "java.util.Map"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "ActivemqSample",
      "type": "java.lang.String"
    },
    ".type": {
      "name": ".type",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/jms}JNDIConnection",
      "type": "java.lang.String"
    },
    ".enabled": {
      "name": ".enabled",
      "value": "true",
      "type": "java.lang.String"
    },
    ".type.propertyConfiguration": {
      "name": ".type.propertyConfiguration",
      "value": "java.util.Collection",
      "type": "java.lang.String"
    },
    ".bundle.id": {
      "name": ".bundle.id",
      "value": 2,
      "type": "java.lang.Long"
    },
    ".type.properties": {
      "name": ".type.properties",
      "value": "java.util.Collection",
      "type": "java.lang.String"
    },
    "propertyConfiguration": {
      "name": "propertyConfiguration",
      "value": [],
      "type": "java.util.Collection"
    },
    ".deployment.type": {
      "name": ".deployment.type",
      "value": "application",
      "type": "java.lang.String"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.0.0.qualifier",
      "type": "java.lang.String"
    },
    "properties": {
      "name": "properties",
      "value": [],
      "type": "java.util.Collection"
    }
  }
}