{
  "pid": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/jms}JMSConnectionFactory.ead12e5e-21b8-4ae0-b5db-b810f299b948",
  "properties": {
    ".type.topicFactoryJNDIName": {
      "name": ".type.topicFactoryJNDIName",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".name": {
      "name": ".name",
      "value": "activemqsample.JMSConnectionResource",
      "type": "java.lang.String"
    },
    ".deployment.name": {
      "name": ".deployment.name",
      "value": "ActivemqSample.application",
      "type": "java.lang.String"
    },
    ".type.jndiName": {
      "name": ".type.jndiName",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".type.factoryType": {
      "name": ".type.factoryType",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".isresource": {
      "name": ".isresource",
      "value": "true",
      "type": "java.lang.String"
    },
    "autoGenerateClientID": {
      "name": "autoGenerateClientID",
      "value": true,
      "type": "java.lang.Boolean"
    },
    ".public": {
      "name": ".public",
      "value": false,
      "type": "java.lang.Boolean"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/jms}JMSConnectionFactory",
      "type": "java.lang.String"
    },
    ".type.autoGenerateClientID": {
      "name": ".type.autoGenerateClientID",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    "jndiName": {
      "name": "jndiName",
      "value": "QueueConnectionFactory",
      "type": "java.lang.String"
    },
    ".ns2locMap": {
      "name": ".ns2locMap",
      "value": {},
      "type": "java.util.Map"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "ActivemqSample",
      "type": "java.lang.String"
    },
    ".type": {
      "name": ".type",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/jms}JMSConnectionFactory",
      "type": "java.lang.String"
    },
    ".enabled": {
      "name": ".enabled",
      "value": "true",
      "type": "java.lang.String"
    },
    ".bundle.id": {
      "name": ".bundle.id",
      "value": 2,
      "type": "java.lang.Long"
    },
    "TYPE": {
      "name": "TYPE",
      "value": "jndi",
      "type": "java.lang.String"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.0.0.qualifier",
      "type": "java.lang.String"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    ".type.TYPE": {
      "name": ".type.TYPE",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".type.sslConnectionFactoryPassword": {
      "name": ".type.sslConnectionFactoryPassword",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    "xa": {
      "name": "xa",
      "value": false,
      "type": "java.lang.Boolean"
    },
    "sslConnectionFactoryPassword": {
      "name": "sslConnectionFactoryPassword",
      "value": "",
      "type": "java.lang.String"
    },
    ".resourceref.jndiConnectionJNDIName.type": {
      "name": ".resourceref.jndiConnectionJNDIName.type",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/jms}JNDIConnection",
      "type": "java.lang.String"
    },
    ".deployment.version": {
      "name": ".deployment.version",
      "value": "1.0",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/jms}JMSConnectionFactory.ead12e5e-21b8-4ae0-b5db-b810f299b948",
      "type": "java.lang.String"
    },
    ".type.xa": {
      "name": ".type.xa",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    ".resourceref.jndiConnectionJNDIName.value": {
      "name": ".resourceref.jndiConnectionJNDIName.value",
      "value": "activemqsample.JNDIConfiguration",
      "type": "java.lang.String"
    },
    "topicFactoryJNDIName": {
      "name": "topicFactoryJNDIName",
      "value": "TopicConnectionFactory",
      "type": "java.lang.String"
    },
    "factoryType": {
      "name": "factoryType",
      "value": "Queue\/Topic",
      "type": "java.lang.String"
    },
    ".type.properties": {
      "name": ".type.properties",
      "value": "java.util.Collection",
      "type": "java.lang.String"
    },
    ".deployment.type": {
      "name": ".deployment.type",
      "value": "application",
      "type": "java.lang.String"
    },
    "properties": {
      "name": "properties",
      "value": [],
      "type": "java.util.Collection"
    }
  }
}