{
  "pid": "com.tibco.bw.stat.appnode.8a6d961f-95de-42ab-8f52-9518396a6e9d",
  "properties": {
    "name": {
      "name": "name",
      "value": "Main",
      "type": "java.lang.String"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "com.tibco.bw.stat.appnode.8a6d961f-95de-42ab-8f52-9518396a6e9d",
      "type": "java.lang.String"
    }
  }
}